version: '3.3'
services:
  web:
    build: .
    container_name: apipostgress
    environment:
      PGHOST: postgres
      PGPORT: 5432
      PGPASSWORD: postgres
      PGUSER: postgres
      PGDATABASE: postgres

    volumes:
    - ./composeexample:/code
    ports:
    - "8080:8080"
    links:
    - postgres

    depends_on:
    - postgres

  postgres:
    image: postgres
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
    - "5432:5432"



volumes:
  dbdata:
# this compomse no has it https://thepracticaldeveloper.com/2017/12/11/dockerize-spring-boot/ , but  that exmaple is beautiful because implements scale
