version: 2
jobs:
  build:
    
    working_directory: ~/apipostgress-spring 

    docker:
      - image: circleci/openjdk:9-jdk
      - image: circleci/postgres:9.6.3-alpine
        environment:
          #_JAVA_OPTIONS: -Xmx4g -Xms4g
          POSTGRES_USER: postgres
          POSTGRES_DB: postgres

    steps:
      - checkout
      - run: chmod a+x ./mvnw
      - run: ./mvnw clean verify install -B
